################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/backend-ptdp/DesignTimeBuild/.dtbcache.v2
/.vs/backend-ptdp/FileContentIndex
/.vs/backend-ptdp/v17
